body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #5f9341;
    padding: 10px;
}

input {
    /* margin-right: auto; */
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
    border:1px solid #5f9341;
}
img{
    width: 150px;
}
button {
    margin-top: 5px;
    color: white;
    background: #5f9341;
    padding: 10px 20px;
    font-weight: bold;
    border: 2px solid #5f9341;
}
